.formulaire{

    //background-color: yellow;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
   
}

.elementForm{
    display: flex;
    justify-content: center;
    align-items: center;

    table{
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {

    .TitreSite{
        color:yellow;
    }
    
}