<ion-header>
  <ion-toolbar>

    <ion-buttons slot="primary" >
      <ion-button   [routerLink]="['/home']">
        <ion-icon slot="end" name="home" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary" >
      <ion-button [routerLink]="['/categorie']" >
      Produits
      </ion-button>
    </ion-buttons>

 

   
 
   
    <ion-title class="TitreSite">2MIStore</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content >

  <div class="formulaire">
    <h2 style="padding-bottom: 5%;"> Connecte-toi </h2>
    <div class="elementForm" >
     <table >
       <tr>
         <td> <ion-item><ion-label position="floating" style="color:grey;">Identifiant </ion-label><ion-input type="text" [(ngModel)]="form.id" name="identifiant" placeholder="Identifiant ou email " (keyup.enter)="connexion()"></ion-input> </ion-item></td>
       </tr>
       <br/>
       
      <tr>  
        <td> <ion-item><ion-label position="floating" style="color:grey;" >Mot de passe </ion-label><ion-input type="password" [(ngModel)]="form.mdp" name="mdp" placeholder="Mot de passe " (keyup.enter)="connexion()"></ion-input> </ion-item></td>
      </tr>
      <br/>
      <tr *ngIf="!auth"><td style="color:red"> Identifiant ou mot de passe incorrect</td></tr>
      <br/>
      <tr>
        
        <td >
          <ion-button color="medium" fill="clear" (click)="goInscription()">Pas de compte? S'inscrire</ion-button> <br/>
          <ion-button type="submit" color="success" (click)="connexion()"  > 
            Connexion
          </ion-button>
         
        </td>
      </tr>

     </table>
    
    </div>
    
   
  </div>
</ion-content>
