.input-profil{
    font-size: medium;
}

.poster{
    height:100px;
    width:100px;
    padding-right: 2%;
}
@media (prefers-color-scheme: dark) {

    .TitreSite{
        color:yellow;
    }
    .Recherche{
        color:yellow;
    }
    .price{
        text-color:yellow;
    }
    .centeredTop1{
        color: black;
       
    }
    .centeredTop2{
        color: black;
       
    }

   
    
}
