<ion-header>
  <ion-toolbar>

    <ion-buttons slot="primary" >
      <ion-button   [routerLink]="['/home']">
        <ion-icon slot="end" name="home" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary" >
      <ion-button [routerLink]="['/categorie']" >
      Produits
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary" >
      <ion-button [routerLink]="['/formulaire-connexion']">
        <ion-icon slot="end" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>


<!--    
    <ion-buttons slot="primary" >
      <ion-button >
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
   
    <ion-title class="TitreSite">2MIStore</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-top:1%; margin:1%">
      <h1 align="center" > Vos favoris</h1>

    <ion-grid >
      <ion-row >
      <ion-col *ngFor="let songs of favorisItems$ | async ;  let i= index;    " [fixed]="true" size="auto"  >
         
             <div>
              <img  [src]="songs.lien_image" class="poster" (click)="seeDetails(songs)"/>
            </div>

            <ion-grid >
              <ion-row >
                <ion-col  size="10" style="height:5px; font-weight:bold; font-size:110%" >
                <p class="ion-align-items-end"> {{songs.titre_album}}<p>
                </ion-col>
                <ion-col  size="2">
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col size="auto">
                  {{songs.nom}}
                  <br/>
                </ion-col>
              </ion-row> -->
              <ion-row>
                <ion-col size="auto" >
                  {{songs.prix}} &euro;
                </ion-col>
                <ion-col >
                  <div align="right">
                    <ion-button size="small" fill="outline" class="del" (click)="supprimer( songs.titre_album , songs)">
                      <ion-icon name="trash-outline"   (click)="supprimer(songs.titre_album, songs)"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          
       

      </ion-col>

      </ion-row>
    </ion-grid>
    
  </div>

</ion-content>
